<main class="body-container">
  <h2>Tu librería</h2>
  <div class="triangulo"></div>
   
  <!-- <div class="circle"></div> -->
  <img src="./assets/circulo-naranja.png" class="circle"/>
  <img src="./assets/libros-1.png" class="libros" />
  <div class="text-container">
   
    <p>
    La Isla del Tesoro somos una librería especializada en literatura juvenil e infantil, 
    pero trabajamos con todo tipo de libros.
    Si tienes cualquier consulta o nos quieres hacer un pedido nos puedes escribir sin compromiso.

    </p>

    <app-order></app-order>

    <div class="img-container">
      <img src="./assets/images/isla1.jpg" alt="foto libreria" />
      <img src="./assets/images/isla2.jpg" alt="foto libreria" />
    </div>
  </div>
  <h2 id="novedades">Novedades</h2>
  <div class="triangulo"></div>
  <section class="nov-container">
    <article class="row">
      <div class="col-md-4" *ngFor="let book of books">
        <app-book-card [book]="book"></app-book-card>
      </div>
    </article>
  </section>
  <h2 id="recomendado">Nos ha gustado</h2>
  <div class="triangulo"></div>
  <section class="rec-container">
    <div class="card">
      <img src="./assets/libro-mikel.jpg" alt="Portada del libro" />
      <div class="info">
        <h3>El Mentiroso</h3>
        <p>
          <b>Autor:</b> Mikel Santiago<br /><b>Editorial:</b> Anagrama<br /><b
            >Año publicación:</b
          >
          2023
        </p>
      </div>
    </div>
    <p>
      Hay novelas imposibles de abandonar una vez leídas las primeras páginas. Historias quereinventan el suspense y hacen dudar al lector cada vez que termina un capítulo. En este thriller absolutamente original y adictivo, Mikel Santiago rompe los límites de la intriga psicológica con un relato que explora las frágiles fronteras entre el recuerdo y la amnesia, la verdad y la mentira.
      <br>En la primera escena, el protagonista despierta en una fábrica abandonada junto al cadáver de un hombre desconocido y una piedra con restos de sangre. Cuando huye, decide tratar de reconstruir el mismo los hechos. Sin embargo, tiene un problema: no recuerda apenas nada de lo ocurrido en las últimas cuarenta y ocho horas. Y lo poco que sí sabe es mejor no contárselo a nadie.
      Así arranca este thriller que nos traslada a un pueblo costero del País Vasco, entre sinuosas carreteras al borde de acantilados y casas de muros resquebrajados por las noches de tormenta: una pequeña comunidad donde, solo aparentem
    </p>
  </section>

  <h2 id="contacto">Contacto</h2>
  <div class="triangulo"></div>
  <div class="contacto-container">
    <map>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3040.3462358418906!2d-3.9018943247872624!3d40.356846559283156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e2f12b77117%3A0x463c1dfd8cc9101e!2sC.%20del%20Abrevadero%2C%206%2C%2028670%20Villaviciosa%20de%20Od%C3%B3n%2C%20Madrid!5e0!3m2!1ses!2ses!4v1694510413030!5m2!1ses!2ses"
        width="400"
        height="350"
        style="border: 1px solid rgb(83, 83, 83); border-radius: 8px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </map>
    <div class="contacto-text">
      <p>c/ Abrevadero nº 6<br> 28670. Villaviciosa de Odón, Madrid.</p>
      <p>91 616 46 49 <br>isladeltesoro.dh@gmail.com</p>
      <p>
        Horario:<br />
        Lunes - Viernes: 10:00 - 14:00 y 17:00 - 20:00 <br />
        Sábados: 10:00 - 14:00
      </p>
    </div>
  </div>
</main>
