/* You can add global styles to this file, and also import other style files */
:root {
--body-color: #191d19;
--color-tipografia:rgb(232, 233, 232);
--margen-top: 4rem;
--texto-size:  clamp(0.8rem, 1.2vw, 3rem);
}

body {
  background-color: var(--body-color);

  margin: 0px;

  @media screen and (max-width: 1024px){
    margin-left: 0;
  }
}
